*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: Arial;
	padding: 0 5%;
	height: 75px;
	background-color: #161616;

}

nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
}

nav .list {
	float: right;
	padding: 0;
	margin: 0;
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .list li {
	list-style: none;
}

nav .list a {
	display: block;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

nav .list a:hover {
	border-bottom: 4px solid #ff914d;

}

#toggle {
	position: absolute;
	top: -100px;
}

nav .icon-bars{
	display: none;
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-bars .line {
	width: 30px;
	height: 5px;
	background-color: #ffffff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

@media (max-width:768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}

	nav .list {
		float: none;
		position: fixed;
		z-index:9;
		left: 0;
		right: 0;
		top: 75px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,0.8);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}

	nav .list a {
		font-size: 20px;
	}

	nav :checked ~ .list {
		bottom: 0;
	}

	nav .icon-bars {
		display: block; 
	}
}

html.body{
	height: 100%;
	width: 100%;
}

.body{
	display: flex;

}

.content {
    margin-top: 75px; 		
	background-color: #161616;
	z-index: 0;
}

h1{
	font-size: 80px;
	margin-left: 15%;
	font-family: Arial;
	font-style: bold;
    color: #ffffff;
}

hi::after{

}

h2{
	font-size: 20px;
	color: #ffffff;
	margin-left: 15%;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Arial;
	font-style: bold;
}

.container{
	width: 70%;
	background-color: #ffffff;
    box-sizing: border-box;
    margin-left: 15%; 
	border-radius: 10px;
	position: relative;
	height: 100%;
	z-index: 5;
}

.container::after{
	position: absolute;
	top: 0px;
	left: 0px;
	content: ' ';
	width: 100%;
	height: 100%;
	background: #fc4a1a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	filter:blur(5px);
	z-index: -1;


}
